<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <script src= "">
    </script>
    <link type="text/css" media="all" href=""rel="stylesheet" />
    <link href="favicon.ico" rel="shortcut icon">
  </head>

  <body class="site-body">
    <header id="header" class="site-header" role="navigation">
      <div class="header-wrap">
          <div class="menu-wrapper">
            <div class="col-md-8 nav-col">
              <nav id="header-nav" class="header-nav">
                <ul role="menu" title="Main Navigation" id="menu-header-nav" class="menu clearfix desktop">
                  <li id="menu-item-2333" class="menu-item menu-item-type-post_type menu-item-object-become_carrier_page menu-item-has-children menu-item-2333"><a href="carriers.html">Drivers</a></li>
                  <li id="menu-item-2273" class="menu-item menu-item-type-post_type menu-item-object-ship_with_page menu-item-has-children menu-item-2273"><a href="shipper.html">Shippers</a></li>
                  <li id="menu-item-2260" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2260"><a href="https://jobs.lever.co/convoy">Truck Owners</a></li>
                    <div id="logo" class="logo">
                      <a href="home.component.html" rel="home"><img src="" alt="Truckr"></a>
                    </div>
                  <li id="menu-item-2336" class="menu-item menu-item-type-post_type menu-item-object-about_page menu-item-2336"><a href="about-us.html">About Truckr</a></li>
                  <li id="menu-item-2727" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2727"><a href="contact-us/index.html">Contact Us</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-md-2 login-col">
              <div class="btn-wrapper desktop">
                <div class="btn white-bg">
                  <div class="label">Sign Up</div>
                  <ul class="sub-menu">
                    <li id="menu-item-2288" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2288" role="menuitem"><a href="https://carrier.convoy.com/signup" data-utm="true" onclick="ga('send', 'event', 'carrier', 'Signup', 'Start - Header');">Driver Sign Up</a></li>
                    <li id="menu-item-2289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2289" role="menuitem"><a href="shipper.html" onclick="ga('send', 'event', 'shipper', 'Signup', 'Start - Header');">Shipper Sign Up</a></li>
                  </ul>
                </div>
                <div class="btn trans-bg">
                  <div class="label">Log In</div>
                  <ul class="sub-menu">
                    <li id="menu-item-2288" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2288" role="menuitem"><a href="https://carrier.convoy.com/" onclick="ga('send', 'event', 'carrier', 'Login', 'Login - Header');">driver Log In</a></li>
                    <li id="menu-item-2289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2289" role="menuitem"><a href="https://shipper.convoy.com/login" onclick="ga('send', 'event', 'shipper', 'Login', 'Login - Header');">Shipper Log In</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </header>
    <div id="content" class="content-wrapper" role="main" aria-labelledby="b2b-page-title">
      <article id="post-2271" class="post-2271 landing_page type-landing_page status-publish hentry">

        <header class="page-header b2b">
          <div class="page-header-background">
            <div class="page-header-background-content" style="background-image:url(wp-content/uploads/2017/12/Homepage-MarqueeBG.jpg); height:781px"
              meta-height="781" meta-width="1980"></div>
          </div>
          <div class="header-content">
            <div class="container ">
              <div class="row">
                <div class="title-wrapper">
                  <h1 class="vendor-title"><img src="" alt="Truckr" /></h1>
                  <h1 class="page-title" id="b2b-page-title">The Future of Road Freight</h1>
                  <div class="subtitle">Trucking services powered by technology to drive reliability, transparency, efficiency, and insights.</div>
                  <div class="btn-group">
                    <div class="btn orange"><a href="carriers.html">Drive with Truckr</a></div>
                    <div class="btn orange"><a href="shipper.html">Ship with Truckr</a></div>
                  </div>
                </div>
                <div class="testimonial-wrapper">
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
          <div class="landing-info">
            <div class="container">
              <div class="row">
                <div class="landing-info-item col-md-6 col-xs-12">
                  <div class="landing-info-item-label">Reliable</div>
                  <div class="landing-info-item-content">
                    <ul>
                      <li>Upfront, guaranteed, market-based pricing and capacity on quoted rates</li>
                      <li>Access to 10,000+ trucking companies nationwide</li>
                      <li>Industry-leading service levels; bilingual and 24/7/365 account team support</li>
                    </ul>
                  </div>
                </div>
                <div class="landing-info-item col-md-6 col-xs-12">
                  <div class="landing-info-item-label">Transparent</div>
                  <div class="landing-info-item-content">
                    <ul>
                      <li>Real-time visibility and no-touch live monitoring on every shipment with GPS-triggered status alerts</li>
                      <li>High ETA accuracy, better planning, and exception handling</li>
                    </ul>
                  </div>
                </div>
                <div class="landing-info-item col-md-6 col-xs-12">
                  <div class="landing-info-item-label">Data-driven</div>
                  <div class="landing-info-item-content">
                    <ul>
                      <li>Actionable quantitative and qualitative insights to improve supply chain performance</li>
                      <li>Flexible integration with existing infrastructure tools (TMS, EDI, APIs, etc.) to drive synchronization
                        across supply chain network</li>
                    </ul>
                  </div>
                </div>
                <div class="landing-info-item col-md-6 col-xs-12">
                  <div class="landing-info-item-label">Efficient</div>
                  <div class="landing-info-item-content">
                    <ul>
                      <li>Relevance matching and bundling algorithms to quickly source the best truck to any given load</li>
                      <li>Instant access to relevant jobs on the lanes you want to run</li>
                      <li>No factoring fees; get paid immediately after job completion with free Truckr QuickPay</li>
                    </ul>
                  </div>
                </div>
                <div class="landing-info-item col-md-6 col-xs-12">
                  <div class="landing-info-item-label">Environmentally-conscious</div>
                  <div class="landing-info-item-content">
                    <ul>
                      <li>Smarter freight matching and efficient routing reduce empty trucks, lowering fuel consumption, road
                        congestion and carbon footprint</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="trucking-info">
            <div class="container">
              <div class="row">
                <div class="desktop">
                  <div class="fact-column-item left col-md-4 col-xs-12">
                    <div class="truck-image-one"></div>
                    <div class="item-row first">Truck driver is one of the most common job in the world.</div>
                    <div class="item-row second">
                      <h3>$800B</h3>
                      <p>In 2018, nearly $800B will be spent on trucking service to move $12 trillion worth of goods for 10.5
                        billion tons of cargo. </p>
                    </div>
                  </div>
                  <div class="fact-column-item center col-md-4 col-xs-12">
                    <div class="item-row first">
                      <p>A few interesting</p>
                      <p>facts about </p>
                      <h3>trucking</h3>
                    </div>
                    <div class="item-row second">
                      <p>Truckers cover</p>
                      <h4>93,512,000,000</h4>
                      <p>highway miles each year,</p>
                      <h4>256,197,260</h4>
                      <p>per day, and</p>
                      <h4>2,965</h4>
                      <p>per second, equaling</p>
                      <h4>3,755,351</h4>
                      <p>times around earth.</p>
                    </div>
                  </div>
                  <div class="fact-column-item right col-md-4 col-xs-12">
                    <div class="truck-image-two"></div>
                    <div class="item-row first">
                      <div class="inner-row">Trucking accounts for 82% of total money spent moving freight.</div>
                    </div>
                    <div class="item-row second">
                      <div class="inner-row">It takes 10 hours and 1.5 drums of fuel to travel from Tema to Kumasi</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-forms">
            <div class="container">
              <img src="wp-content/themes/convoy/images/backgrounds/shipment-line-4-form.svg" class="container-bg" />
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="ship-with-convoy-container convoy-form">
                    <div class="convoy-form-wrapper">
                      <h3>Ship with Truckr</h3>
                      <div class="intro">
                        Join the many companies that trust Truckr to see how we can improve your supply chain </div>
                      <div class="actions">
                        <button type="submit" class="btn orange"><a href="shipper.html" onclick="ga('send', 'event', 'shipper', 'Started', 'Free Demo - Footer');">Get a Free Demo</a></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="drive-with-convoy-container convoy-form">
                    <div class="convoy-form-wrapper">
                      <h3>Haul with Truckr</h3>
                      <div class="intro">
                        Truck booking at your finger tips! Keep an eye on your trucks at all times. </div>
                      <div class="btn-wrapper">
                        <button class="btn blue"><a href="https://carrier.convoy.com/signup" data-utm="true" onclick="ga('send', 'event', 'carrier', 'Started', 'Find Loads - Footer');">Find Loads</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .entry-content -->
      </article>
      <!-- #post-## -->
    </div>


  </body>


</html>